# SIG-Build (@o3de/sig-build-maintainers @o3de/sig-build-reviewers)

# SIG-Content (@o3de/sig-content-maintainers @o3de/sig-content-reviewers)

# SIG-Core (@o3de/sig-core-reviewers @o3de/sig-core-maintainers)

# SIG-Docs-Community

# SIG-Graphics-Audio (@o3de/sig-graphics-audio-maintainers @o3de/sig-graphics-audio-reviewers)

# SIG-Network (@o3de/sig-network-maintainers)
Templates/Multiplayer/ @o3de/sig-network-maintainers

# SIG-Operations

# SIG-Platform (@o3de/sig-platform-reviewers @o3de/sig-platform-maintainers)
Gems/OpenXRVk/ @o3de/sig-platform-reviewers @o3de/sig-platform-maintainers
Gems/XR/ @o3de/sig-platform-reviewers @o3de/sig-platform-maintainers
Projects/OpenXRTest/ @o3de/sig-platform-reviewers @o3de/sig-platform-maintainers

# SIG-Release

# SIG-Security

# SIG-Simulation (@o3de/sig-simulation-reviewers @o3de/sig-simulation-maintainers)

# SIG-Testing (@o3de/sig-testing-reviewers)

# SIG-UI-UX






