.idea/
.vs/
.vscode/
__pycache__
/[Bb]uild
[Oo]ut/**
CMakeUserPresets.json
[Cc]ache/
/[Ii]nstall/
**/*egg-info/**
**/*egg-link
**/[Rr]estricted
[Uu]ser/
FrameCapture/**
.DS_Store
user*.cfg
client*.cfg
server*.cfg
.mayaSwatches/
_savebackup/
*.swatches
/imgui.ini

# Ignore Oculus OpenXR Mobile SDK files except the README.md file
Gems/OpenXRVk/External/OculusOpenXRMobileSDK/**
!Gems/OpenXRVk/External/OculusOpenXRMobileSDK/README.md